#card {
    max-height: 90vh;
    max-width: 90vw;
    object-fit: contain;
    opacity: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.label {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    opacity: 0;
}

.transition {
    transition: opacity 1s;
}

.no-user-select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}